.btn {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0);;
    color:$fourth-color;
    text-decoration: none;
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    @media (min-width: 700px) {
        padding: 0.8rem 3rem;
      }

    &.primary {

    }
    &.secondary {

    }
}
