html {
  background-color: $fourth-color;
}
.first-component {
  color: $third-color;
  display: flex;
  justify-content: center;
  letter-spacing: 0.2rem;
}
.first-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  font-size: 1rem;

  @media (min-width: 800px) {
    display: flex;
    align-items: stretch;
    justify-content: block;
  }
}
.second-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  @media (min-width: 800px) {
    display: flex;
    align-items: stretch;
    justify-content: block;
  }
}
.name-input {
  padding: 0.5rem 1rem;
  border-radius: 5px 5px 5px 5px;
  flex: 1;
  background-color: $second-color;
  border: none;
  width: 0.5rem;
  @media (min-width: 800px) {
    width: 0.1rem;
  }
}
.select-input {
  font-size: 1rem;
  background-color: $second-color;
  border: none;
  border-radius: 5px 5px 5px 5px;
}
.menu-box {
  display: flex;
  justify-content: space-evenly;
}
.choice-text {
}

.menu-tab {
  cursor: pointer;
  &.selected {
    border-bottom: 3px solid $main-color;
  }
}

.menu-option {
  padding: 0.5rem;
}
